.title {
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.subtitle {
  font-size: 1vw;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}
.inputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .header {
    justify-content: space-evenly;
    height: 25vh;
  }
  .title {
    font-size: 9vw;
  }
    .subtitle {
      font-size: 5vw;
      
    }
}
.search,
.select {
  width: 43%;
}
